body{
   margin: 0px;
   padding-top: 20px;
   background-image: url(Nature-Background-Graphics-66003182-1-580x387.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;

}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
    color: aliceblue;
}
h2{
    color: #fff;
}
p{
    color: #fff;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}

.card
{
    position: relative;
    width: 320px;
    height: 420px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
}
.card::before
{
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #2196f4;
    transform: skewY(345deg);
    transition: 0.5s;
}
.card:hover::before
{
    top: -70%;
    transform: skewY(390deg);
}
.card::after
{
    content: 'Phillips';
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}
.card .imgBx 
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.card .imgBx img
{
    max-width: 100%;
    transition: 0.5s;
}
.card:hover .imgBx img
{
    max-width: 50%;

}
.card .contentBx
{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.card .contentBx .price
{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.card .contentBx .Buy
{
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30p;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background: #2196f3;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}
.card:hover .contentBx .Buy
{
    top: 0;
    opacity: 1;
}
.forms
{
    padding-left: 20px;
}